.title {
    font-size: 70px;
    border: 2px solid white;
    margin: 30px;
    padding: 20px;
    padding-left: 36%;
    color: rgb(133, 0, 0);
    background-color:black;
}

body {
    background-color: rgb(119, 119, 119);
}

.styl {
    font-size: 60px;
    margin: 30px;
}

.per {
    font-size: 20px;
}